.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-bottom: 60px;
}

.Submit {
  width: 300px;
  margin-bottom: 20px;
}

.positionInput, .sliderInput, .typeInput, .dateInput  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.sliderContainer {
  margin:auto;
  width: 80%;
}

.datePickerContainer {
  width: 100%;
}


.movementTypes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 360px;
  margin-top: 10px;
}

.movementType {
  width: 90px;
  background-color: #CCCCCC !important;
  color: black !important;
}

.chosen {
  background-color: #8884d8 !important;
  color: white;
}